<?xml version="1.0" encoding="UTF-8"?>

<!---->
<!--	  	-->
<!-- <http> -->
<!--	<csrf disabled="true"/>-->
<!--</http>-->
<!---->


<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-4.2.xsd">
    <http auto-config="true" pattern="/**">
        <!-- ... -->
        <csrf disabled="true"/>
    </http>
</beans:beans>


 <!-- -->
<!--<security:http  use-expressions="true" authentication-manager-ref="authenticationManager">-->
<!--    <security:intercept-url pattern="/auth/**" access="hasAnyRole('ROLE_admin'. 'ROLE_blogger')" />-->
<!--    <security:form-login login-page="/login" authentication-success-handler-ref="loginSuccessHandler" authentication-failure-url="/login" login-processing-url="/j_spring_security_check" />-->
<!--    <security:logout invalidate-session="true" logout-url="/logout" success-handler-ref="logoutSuccessHandler" />-->
<!---->
<!--    <security:csrf request-matcher-ref="csrfSecurityRequestMatcher"  />-->
<!--</security:http>-->